@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .width-balance {
    @apply mx-auto max-w-screen-xl;
  }
}

body {
  @apply m-0 p-0 box-border text-grey;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
}
