@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .width-balance {
    @apply mx-auto max-w-screen-xl;
  }
}

:root {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
}

body.no-scroll {
  overflow: hidden;
}

#content-container.blur {
  filter: blur(5px);
  transition: filter 0.3s ease-in-out;
}

.hamburger {
  @apply relative my-0 mx-auto w-8 h-[1.125rem];
}

.hamburger .bar {
  @apply absolute block p-0 w-8 h-0.5 bg-dark rounded transition-all duration-300 ease-in-out;
}

.bar1 {
  @apply top-0;
}

.bar2,
.bar3 {
  @apply top-2;
}

.bar3 {
  @apply right-0;
}

.bar4 {
  @apply bottom-0;
}

.hamburger.mobile-nav_open > .bar1{
  transform-origin: center;
  transform: rotate(45deg) translate(8px, 4px);
}

.hamburger.mobile-nav_open > .bar2 {
  transform: translateX(-32px);
  background-color: transparent;
}

.hamburger.mobile-nav_open > .bar3 {
  transform: translateX(32px);
  background-color: transparent;
}

.hamburger.mobile-nav_open > .bar4 {
  transform-origin: center;
  transform: rotate(-45deg) translate(8px, -4px);
}
