@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .width-balance {
    @apply mx-auto max-w-screen-xl;
  }
}

:root {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
}
